---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Theme Variables
$theme-colour: {{site.theme.primary_colour}};
$dark-grey: rgb(210, 210, 210);
$spacing-unit: 30px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base/bourbon/bourbon",
	"base/reset",
	"base/syntax",
	"base/type",
	"base/mixins",

	"layout/general",
	"layout/index",

	"modules/modules",
	"modules/blogroll",
	"modules/post",
	"modules/code"
;
