/* ---------------------
	  Layout - Index
 --------------------- */

 .home-banner {
 	width: 100%;
 	height: auto;
 	max-height: 250px;
 	margin-bottom: 50px;

 	position: relative;
 	text-align: center;
 	overflow: hidden;
	
	background-color: $theme-colour;
 	background-position: center;
 	background-size: cover;
 	


 	.banner-text {
 		width: 100%;
 		padding: 30px;
 		margin: 0;
 		text-align: center;
 		background-color: rgba(255, 255, 255, 0.3);

 		p { 
 			max-width: 500px;
 			margin: 0 auto 10px;
 		}
 	}
 }