/* ---------------------
	  Layout - Index
 --------------------- */

 .home-banner {
 	width: 100%;
 	height: auto;
 	max-height: 250px;
 	margin-bottom: 50px;

 	position: relative;
 	text-align: center;
 	overflow: hidden;

 	img {
		width: 100%;
		z-index: 1;
		opacity: 0.7;
 	}

 	.banner-text {
 		position: absolute;
 		top: 50%;
 		left: 50%;
 		@include transform(translate(-50%, -50%));
 		z-index: 2;

 		width: 80%;
 		max-width: 500px;

 		p { margin-bottom: 1em;}
 	}
 }